.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.logo {
  max-width: 100%;
  height: auto;
}

.logo-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent; /* Ajusta el fondo según tus necesidades */
  z-index: 999; /* Asegura que el logo esté en la parte superior de otros elementos */
}

